.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color-dark-terms);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 25px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transform-durac) var(--transition-func);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
