.contact {
  margin-top: auto;
  margin-bottom: 64px;
  @media screen and(min-width:768px) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact__item + .contact__item {
  @media screen and(max-width:767px) {
    margin-top: 32px;
  }
  @media screen and(min-width:768px) {
    margin-top: 10px;
  }
  @media screen and(min-width:1200px) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contact__phone {
  font-size: 34px;
  line-height: calc(40px / 34px);
  color: var(--accent-color);
}
.contact__mail,
.contact__phone {
  @media screen and(min-width:768px) {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    align-items: center;
    transition-property: color, fill;
    transition-duration: var(--transform-durac);
    transition-timing-function: var(--transition-func);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    fill: currentColor;
    color: var(--accent-color);
  }
}
@media screen and(max-width:767px) {
  .contact__mail {
    font-size: 24px;
    line-height: calc(28px / 24px);
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
  }
}

.contact__icon {
  display: none;
  @media screen and(min-width:768px) {
    display: inline-block;
    fill: currentColor;

    .contact__mail &,
    .contact__phone & {
      margin-right: 8px;
      @media screen and (min-width: 1200px) {
        margin-right: 10px;
      }
    }
  }
}
