.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__block {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and(min-width:1200px) {
    align-items: baseline;
  }
}

.footer__block_first {
  margin-bottom: 60px;
  @media screen and(max-width:1199px) {
    text-align: center;
  }
  @media screen and(min-width:768px) {
    margin-bottom: 0;
    @media screen and(min-width:1200px) {
      margin-right: 70px;
    }
  }
}
.footer__block_second {
  margin-bottom: 60px;
  @media screen and(min-width:768px) {
    margin-bottom: 0;
  }
}
.footer__block_third {
  @media screen and(min-width:768px) and(max-width:1199px) {
    width: 450px;
    margin-top: 60px;
  }
  @media screen and(min-width:1200px) {
    margin-left: auto;
  }
}
.footer__logo {
  padding-top: 0;
  padding-bottom: 0;
}
.footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-dark-terms);
  margin-bottom: 20px;
  @media screen and(max-width:1199px) {
    text-align: center;
  }
}

.subscribe-form {
  @media screen and(min-width:1200px) {
    display: flex;
    height: 50px;
  }
}

.subscribe-write {
  position: relative;
  margin-bottom: 20px;
  @media screen and(min-width:768px) {
    width: 450px;
    margin-bottom: 0;
  }
  @media screen and(min-width:1200px) {
    width: 358px;
  }
}
.subscribe-write-text {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.subscribe-add-mail {
  background-color: transparent;
  display: block;
  width: 100%;
  height: 50px;
  color: var(--text-color-dark-terms);
  padding-left: 70px;
  padding-right: 12px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-color-dark-terms);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width:1200px) {
    margin-top: 0;
  }
}
.subsribe-btn-icon {
  width: 24px;
  height: 24px;
  fill: rgb(255, 255, 255);
  margin-left: 10px;
}
