@media screen and(max-width:767px) {
  .navigation,
  .page-header__container .contact {
    display: none;
  }
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contact__mail {
  padding-top: 21px;
  @media screen and(max-width:1199px) {
    margin-bottom: 10px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 50px;
  }
}
.contact__phone {
  padding-bottom: 21px;
}

.contact__mail,
.contact__phone {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  align-items: center;
  transition-property: color, fill;
  transition-duration: var(--transform-durac);
  transition-timing-function: var(--transition-func);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    fill: currentColor;
    color: var(--accent-color);
  }
}
.contact__icon {
  fill: currentColor;

  .contact__mail &,
  .contact__phone & {
    margin-right: 8px;
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}
.nav-menu {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav-menu__item {
  position: relative;
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color;
  transition-duration: var(--transform-durac);
  transition-timing-function: var(--transition-func);
  @media screen and(max-width:767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47px / 40px);
    text-align: center;
    letter-spacing: 0.02em;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav-menu__link_active {
  position: relative;
  color: var(--accent-color);
}
@media screen and(min-width:768px) {
  .nav-menu__link_active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
