.header-contacts {
  display: flex;
  margin-left: auto;
}

.contact:not(:last-child) {
  margin-right: 50px;
}

.contact__item {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  align-items: center;
  transition-property: color, fill;
  transition-duration: var(--transform-durac);
  transition-timing-function: var(--transition-func);

  &:hover,
  &:focus {
    fill: currentColor;
    color: var(--accent-color);
  }
}

.contact__icon {
  fill: currentColor;

  .contact__item & {
    margin-right: 10px;
  }
}
