.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: var(--primery-bgc);
  overflow-y: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transform-durac) var(--transition-func),
    visibility var(--transform-durac) var(--transition-func);
}
@media screen and(min-width:768px) {
  .mobile-menu_open {
    display: none;
  }
}
.mobile-menu_open {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mobile-menu_close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: fill var(--transform-durac) var(--transition-func);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mobile-menu__container .navigation,
.mobile-menu__container .header-contact {
  display: block;
}

@media screen and(max-width:767px) {
  .nav-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47px / 40px);
    text-align: center;
    letter-spacing: 0.02em;
  }
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mobile-social__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
  &:not(:last-child) {
    &::after {
      content: " ";
      display: inline-block;
      height: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      margin-left: 10px;
    }
  }
}

.mobile-social__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22px / 18px);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding: 0;
}
