.container {
  padding-left: 15px;
  padding-right: 15px;
  // @media screen and (max-width: 767px) {
  width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
