:root {
    --primery-bgc: #f5f5f5;
    --primery-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --text-color-dark-terms: #ffffff;
    --icon-color: #afb1b8;
    --transform-durac: 250ms;
    --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}